Reviewer/documents/pdfs/*.pdf
Reviewer/documents/pdfs/*.docx
Reviewer/documents/revisiones/*.md
Reviewer/documents/textos/*.txt
Reviewer/__pycache__/
__pycache__/
__pycache__/*
*.pyc
*.pyo
*.pyd
.env
.venv/
rewenv

